<div class="{% if marcar: %}modal-success{% else %}modal-default{% endif %}" id="perfil_detalle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                {% if object %}
                    {% if marcar: %}
                        Marcar
                    {% else %}
                        Editar
                    {% endif %}
                {% else %}
                    Agregar
                {% endif %} Tarea</h4>
            </div>
        {% if object %}
            {% if marcar: %}
                <form role="form" action="{{ url('tarea:marcar', args=[object.pk]) }}" method="post">
            {% else %}
                <form role="form" action="{{ url('tarea:editar', args=[object.pk]) }}" method="post">
            {% endif %}
        {% else %}
            <form role="form" action="{{ url('tarea:agregar') }}" method="post">
        {% endif %}
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="modal-body">
                    {% for campo in form %}
                        <div class="form-group">
                            <label for="{{ campo.id_for_label }}" class="col-sm-3 control-label">{{ campo.label }}</label>
                            <div class="col-sm-9">
                                {{ campo }}
                                <span class="help-block">
                                    {% for error in campo.errors %}
                                        <ul>
                                            <li class="text-red">{{ error }}</li>
                                        </ul>
                                    {% endfor %}
                                </span>
                            </div>
                        </div><br>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline{% if not marcar: %}-secondary{% endif %} pull-left" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-outline{% if not marcar: %}-secondary{% endif %} pull-right">Guardar</button>
                </div>
                {{ form.media.js }}
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->