<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <span class="brand-text logo-prefix">{{ settings.PREFIX }}</span><span
      class="brand-text logo-sufix">{{ settings.SUFIX }}</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            {% if request.user.is_authenticated %}
                <div class="image">
                    <a style="color:#fff;" href="{% url 'usercustom:profile' %}" class="d-block"><img src="{{ request.user.avatar.url }}" id="user_avatar" class="img-circle" alt="{{ request.user }}"></a>
                </div>
                <div class="info">
                    <a href="{% url 'usercustom:profile' %}" class="d-block">{{ user }}</a>
                </div>
            {% endif %}
        </div> -->
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library -->
        {% include "task/menu.html" %}
        {% if user.is_superuser %}
        {% include "rosetta/menu.html" %}
        {% endif %}
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>