[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
pylint = "*"
pylint-django = "*"
autopep8 = "*"
isort = "*"
django-extensions = "*"

[packages]
django = "==2.*"
django-bootstrap-datepicker-plus = "*"
pillow = "*"
django-rosetta = "*"
django-bootstrap4 = "*"
django-settings-export = "*"
celery = "*"

[requires]
python_version = "3.7"
