{% extends "main/main.html" %}
{% block content %}
<div class="row" style="padding:5px;">
  <div class="col-sm-12">
    <form role="form" method="post">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="card col-sm-6">
          <div class="card-header d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label>{{ _('Actual Password') }}</label>
              <div class="input-group">
                <input type="password" name="old_password" class="form-control" id="id_old_password" required placeholder="{{ _('Enter the actual password') }}" autofocus>
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
              </div>
            </div><!-- /.input group -->
            <div class="form-group">
              <label>{{ _('New Password') }}</label>
              <div class="input-group">
                <input type="password" name="new_password1" class="form-control" id="id_new_password1" required placeholder="{{ _('Enter the new password') }}" autofocus>
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
              </div>
            </div><!-- /.input group -->
            <div class="form-group">
              <label>{{ _('Retype the new password') }}</label>
              <div class="input-group">
                <input type="password" name="new_password2" class="form-control" id="id_new_password2" required placeholder="{{ _('Retype the new password') }}" autofocus>
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
              </div>
            </div><!-- /.input group -->
          </div>
          <div class="card-footer d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
          </div>
        </div>
    </form>
  </div>
</div>
{% endblock content %}